@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding-top: 1.5rem;
  background-color:#EDE8F5 ;
 
}

.iconColor{
  color: #271742;
  padding: 0 0 0 2rem;
}

.iconFooter{
  color: #271742;
}

.iconColor:hover{
  color: #F4C9B5;
}

.iconFooter:hover{
  color: #F4C9B5;
}

.text1{
  font-family: var(--font-italiana);
  font-weight: 400;
}

.text2{
  font-family: var(--font-outfit);
  font-weight: 200;
}
